<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="fileReader" class="com.codecool.dao.FileReader" />

  <bean id="outputFormatterFactory" class="com.codecool.factory.OutputFormatterFactory" />

  <bean id="simpleCsvConverter" class="com.codecool.service.SimpleCsvConverter">
    <constructor-arg ref="fileReader" />
    <constructor-arg ref="outputFormatterFactory" />
  </bean>

</beans>